<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TractionMotorCtrl.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <TractionMotorCtrl.My.MySettings>
            <setting name="ControlPosition" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="ChildMainLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="ChildMainSize" serializeAs="String">
                <value>484, 523</value>
            </setting>
            <setting name="Motor1Port" serializeAs="String">
                <value>COM4</value>
            </setting>
            <setting name="Motor1BaudRate" serializeAs="String">
                <value>9600</value>
            </setting>
            <setting name="Motor1Parity" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Motor1DataBits" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="Motor1StopBits" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Motor2Port" serializeAs="String">
                <value>COM5</value>
            </setting>
            <setting name="Motor2BaudRate" serializeAs="String">
                <value>9600</value>
            </setting>
            <setting name="Motor2Parity" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Motor2DataBits" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="Motor2StopBits" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Motor3Port" serializeAs="String">
                <value>COM6</value>
            </setting>
            <setting name="Motor3BaudRate" serializeAs="String">
                <value>9600</value>
            </setting>
            <setting name="Motor3Parity" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Motor3DataBits" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="Motor3StopBits" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Motor1Diameter" serializeAs="String">
                <value>110</value>
            </setting>
            <setting name="Motor1Name" serializeAs="String">
                <value>Wheel1</value>
            </setting>
            <setting name="Motor2Diameter" serializeAs="String">
                <value>110</value>
            </setting>
            <setting name="Motor2Name" serializeAs="String">
                <value>Wheel2</value>
            </setting>
            <setting name="Motor3Diameter" serializeAs="String">
                <value>110</value>
            </setting>
            <setting name="Motor3Name" serializeAs="String">
                <value>Wheel3</value>
            </setting>
            <setting name="Area1Serie1Motor" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Area1Serie2Motor" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Area1Serie3Motor" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Area2Serie1Motor" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Area2Serie2Motor" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Area2Serie3Motor" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Area3Serie1Motor" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="Area3Serie2Motor" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="Area3Serie3Motor" serializeAs="String">
                <value>2</value>
            </setting>
        </TractionMotorCtrl.My.MySettings>
    </userSettings>
</configuration>
